body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #ed5c1f;
    color: white;
    text-align: center;
    padding: 15px;
}

#logoheader{
    width: 100%;
    height: 500px;
}

nav ul {
    list-style: none;
    background-color: #333;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(171, 223, 13);
    text-decoration: none;
}

h1, h2, h3 {
    color: #ed5c1f;
}

p {
    color: #333;
    line-height: 1.6;
}

section {
    padding: 20px;
}

#menu{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 10px;
    margin: 0 auto;
}

table, th, td {
    border: 2px solid #ed5c1f;
}

th, td {
    padding: 8px;
    text-align: center;
}

form {
    border: 2px solid #ed5c1f;
    padding: 50px;
    width: 50%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

input, button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #ed5c1f;
    color: white;
    border: none;
    cursor: pointer;
}