/* Fondo general */
body {
  background-color: #000;
  color: #fff; /* texto normal en blanco */
  scroll-behavior: smooth;
}

/* Títulos en naranja */
h1, h2 {
  color: orange;
}

/* Título principal */
.titulo-principal {
  color: orange;
  font-weight: bold;
}

/* Ajustes para tabla */
.table {
  color: #fff;
}

.table thead {
  background-color: #222;
}

/* Footer */
footer {
  background-color: #111;
  color: #fff;
}

form{
    background-color: white; 
    padding: 35px;
    color: #000;
}

/* Links del menú */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: orange;
}

#img-logo{
    width: 200px;
}

.img-carrusel{
    height: 500px;
}