body {
    font-family: Arial, sans-serif;
    background: #070a0d;
}

.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color:#007bff;
}

#formulario{
    width: 90%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input.valid {
    border-color: #28a745;
}

input.invalid {
    border-color: #dc3545;
}

.error {
    color: #dc3545;
    font-size: 12px;
    height: 14px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
}

button[type="submit"]:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

button[type="reset"] {
    background-color: #6c757d;
    color: white;
}
