body {
    font-family: Arial, sans-serif;
    background: #070a0d;
}
.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color:#007bff;
}
#btn{
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;
}
#btn_agregar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: aliceblue;
    cursor: pointer;
}
li{
    margin-bottom: 20px;
}